*{
    max-width: 480px;  
}

body{
    width: 480px;
}

/***************************** HEADER *****************************/

header {
    background-image: url(imagenes/Mobile/Home/Home_02.jpg);
    height: 225px;
}

#itinerario {
    background-image: url(imagenes/Mobile/Itinerario/Itinerario_01.jpg);
    height: 225px;
}

#eventos {
    background-image: url(imagenes/Mobile/Eventos/Eventos_01.jpg);
    height: 225px;
}


h1 a{
    font-size: 25px;
    margin: 15px 20px;
    float: left;
}

.header-top div{
    display: inline-block;
    width: 237px;
    height: 60px;
    vertical-align: bottom;
    text-align: right;
}

nav li{
    
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.header-top div:last-child a {
    display: inline-block;
    font-size: 0px;
    width: 20px;
    height: 20px;
}

#index {
    background: no-repeat url(imagenes/Mobile/home.png);
}

#toDo {
    background: no-repeat url(imagenes/Mobile/calendar.png);
}

#events {
    background: no-repeat url(imagenes/Mobile/664586.png)
}

#reservations {
    background: no-repeat url(imagenes/Mobile/tickets.png);
}

.selected {
    filter: hue-rotate(700deg) saturate(600%);
}

iframe {
    width: 100%;
    height: 270px;
}

/***************************** HEADER *****************************/

/***************************** FOOTER *****************************/

#leipzig {
    background: no-repeat url(imagenes/Mobile/Home/footer-leipzig.jpg);
    height: 25px;
}

.footer-row-1 {
    width: 440px;
    margin: 30px 20px;
    padding: 10px;
}

.footer-row-2 p {
    font-size: 11px;
}

.footer-col{
    width: 106px;
}

.footer-col h3 {
    font-size: 12px;
    font-weight: bold;
}

.footer-col li {
    font-size: 8px;
}

.footer-col div:first-child {
    height: 100px;
}

.social-media a{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-image: url(imagenes/Home/sprite-20px.jpg);
}

.instagram{
    background-position: 20px, 20px;
}

.twitter{
    background-position: 60px, 20px;
}

.facebook{
    background-position: 0px, 20px;
}
/***************************** FOOTER *****************************/

/****** ABOUT ******/
.about h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

.section-description{
    margin: 30px auto;
    text-align: center;
    font-size: 15px;
}

.img-mobile {
    margin: auto;
    display: block !important;
}

.img-web {
    display: none !important;
}

figure > div {
    width: 405px;
    margin: auto;
}

figcaption{
    width: 350px;
    margin-top: -50px;
}

figcaption p{
    margin: auto;
    font-weight: lighter;
    padding: 20px;
    font-size: 13px;
}

/* .img-col-1 {
    width: fit-content;
} */

.img-col-2 {
    width: 200px;   
}

/****** HOME ABOUT ******/

/****** HOME WHAT TO DO ******/


.home-what-to-do p {
    padding: 10px;
    display: inline-block;
}

.home-what-to-do {
    width: 100%;
}

#ant {
    background: no-repeat url(imagenes/Mobile/Home/chevron-izq.png);
    vertical-align: middle;
} 

.wtd-container {
    display: inline-block;
    vertical-align: middle;
    width: 410px;
    margin-left: 15px;
    padding: 20px;
}

#img-container {
    display: inline-block;
    vertical-align: middle;
    width: 340px;
    margin: auto;
}

#sig {
    background: no-repeat url(imagenes/Mobile/Home/chevron-der.png);
    font-size: 0px;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
} 

/****** HOME WHAT TO DO ******/

/****** HOME EVENTS ******/

.home-events {
    background-color: #dcdcdc;
    padding: 25px;
}

.home-events h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.item-event {
    height: 60px;
    width: 400px;
    padding: 20px 0px;
    display: inline-flex;
}


#ballet {
    background: no-repeat url(imagenes/Mobile/Home/home-ballet-icon.png);
    background-position-x: 20px;
    background-position-y: 20px;
}

#gotic {
    background: no-repeat url(imagenes/Mobile/Home/home-theater-icon.png);
    background-position-x: 20px;
    background-position-y: 20px;
}

#rock {
    background: no-repeat url(imagenes/Mobile/Home/home-hand-icon.png);
    background-position-x: 20px;
    background-position-y: 20px;
}

#jazz {
    background: no-repeat url(imagenes/Mobile/Home/home-saxophone-icon.png);
    background-position-x: 20px;
    background-position-y: 20px;
}

.home-events-col {
    height: 60px;
    display: inline-block;
    margin-left: 80px;
}

.fecha{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

.home-events-col-2 {
    padding: 5px 10px;
    width: 400px;
    height: 60px;
}

.ver-mas {
    font-size: 0px;
    width: 20px;
    height: 20px;
    margin: auto;
}

.ver-mas a {
    width: 20px;
    height: 20px;   
    background: no-repeat url(imagenes/Mobile/Home/chevron-der.png);
}
/****** HOME EVENTS ******/

/***************************** HOME *****************************/

/***************************** ITINERARIO *****************************/


.nav-itinerario {
    width: 400px;
}

.intro h2{
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 30px;
}

.intro p{
    text-align: center;
    margin: auto;
    width: 400px;
    padding-bottom: 30px;
    font-size: 15px;
}

.card-content {
    padding-top: 30px;
    margin: auto;
    width: 480px;
    text-align: center;    
}

.content-right {
    width: 400px;
    height: 150px;
    margin: auto;
    position: relative;
    margin-top: -20px;
}

#augusts p {
    font-size: 14px;
    padding: 10px;
    color: white;
}

#augusts span {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.content-left {
    width: 400px;
    height: 160px;
    position: relative;
    margin: auto;
}

.img-text {
    text-align: center;
}

.img-text h3 {
    font-size: 20px;
    padding: 5px;
}

.img-up img{
    margin-top: -35px;
}

#volki {
    height: 180px;
}

#thomas, #opera {
    background-color: #d3cbbc;
    font-size: 15px;
    width: 400px;
    height: 200px;
    position: relative;
    margin-top: -20px;
}

#opera {
    margin-top: -50px;
}



/***************************** ITINERARIO *****************************/

/***************************** EVENTOS *****************************/

.events-section h2 {
    padding-top: 30px;
}

.events-row {
    width: 385px;
}


.eventos-reserva {
    float: right;
    background-color: #062048; 
    color: #eef6fb;
    padding: 5px;
    margin: 20px;
}

article {
    width: 480px;
    margin-top: 50px;
}

/***************************** EVENTOS *****************************/

/***************************** RESERVAS *****************************/

form {
    width: 480px;
    font-size: 15px;
    height: 550px;
}

.form-container {
    padding: 30px 25px 50px 25px;
    width: 400px;
}

.form-item {
    padding: 10px;
}

.form-item label {
    display: inline-block;
    width: 150px;
}

#radio-button {
    width: 60px;
    vertical-align: top;
    margin: 20px;
}

#upload {
    vertical-align: top;
    width: 200px;
}

/***************************** RESERVAS *****************************/

/***************************** THANKS *****************************/

.thanks {
    width: 480px;
    text-align: center;
}

.thanks div {
    width: 480px;
}

/***************************** THANKS *****************************/

