/***************************** GENERIC *****************************/

body{
    width: 1200px;
}

a:hover, .selected {
    filter: hue-rotate(700deg) saturate(600%);
}

/***************************** GENERIC *****************************/

/***************************** HEADER *****************************/

header{
    width: 1200px;
    height: 539px;
    background-image: url(imagenes/Home/home-header.jpg);
}
  
.header-top{
    width: 960px;
    margin: auto;
}

.header-top div:first-child{
    display: inline-block;
}

h1 a{
    font-size: 50px;
}

.header-top div:last-child{
    float: right;
}

nav li{
    padding: 7px;
    margin: 10px;
}

/***************************** HEADER *****************************/

/***************************** FOOTER *****************************/

#leipzig {
    background-image: url(imagenes/Home/home-leipzig.jpg);
    height: 46px;
}

.footer-row-1 {
    width: 960px;
    padding: 40px;
    margin: auto;
}

.footer-col{
    width: 230px;
}

.footer-col div:first-child {
    width: 1040px;
    height: 120px;
}

.social-media a{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    background-image: url(imagenes/Home/sprite-30px.jpg);
}

.instagram{
    background-position: 30px, 30px;
}

.twitter{
    background-position: 90px, 30px;
}

.facebook{
    background-position: 0px, 30px;
}
/***************************** FOOTER *****************************/

/***************************** HOME *****************************/

/****** HOME ABOUT ******/
.about h2 {
    padding-top: 40px;
}

.section-description{
    width: 580px;
    font-size: 19px;
}

.img-web {
    display: block !important;
}

.img-mobile {
    display: none !important;
}

figure{
    width: 960px;
    margin: auto;
}

figcaption{
    width: 709px;
    margin-top: -76px;
}

figcaption p{
    padding: 18px;
    width: 620px;
    font-size: 19px;
}

figure > div {
    width: 765px;
    margin: auto;
}

.img-col-2{
    width: 380px;
}

/****** HOME ABOUT ******/

/****** HOME WHAT TO DO ******/

.home-what-to-do p {
    padding-top: 20px;
}

.wtd-container {
    margin: auto;
    width: 700px;
    padding: 40px;
}

.wtd-container p {
    padding-bottom: 20px;
}

#ant {
    background: no-repeat url(imagenes/Home/home-chevron-izq.png);
}

#img-container-mobile {
    display: none;
}

#sig {
    background: no-repeat url(imagenes/Home/home-chevron-icon.png);
    font-size: 0px;
    height: 30px;
    width: 30px;
    display: inline-block;
}

/****** HOME WHAT TO DO ******/


/****** HOME EVENTS ******/

.home-events {
    background-color: #dcdcdc;
    padding: 50px;
}

.home-events > div {
    width: 960px;
    margin: auto;
}

.item-event {
    margin: auto;
    text-align: center;
    height: 60px;
    padding: 20px;
}

#ballet {
    background: no-repeat url(imagenes/Home/home-ballet-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;
}

#gotic {
    background: no-repeat url(imagenes/Home/home-theater-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;
}

#rock {
    background: no-repeat url(imagenes/Home/home-hand-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;}

#jazz {
    background: no-repeat url(imagenes/Home/home-saxophone-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;
}

.home-events-col {
    margin-left: 200px;
}
.home-events-col-2 {
    height: 40px;
    vertical-align: top;
    padding: 15px;
    width: 300px;
}

.fecha{
    font-size: 50px;
    font-weight: 100;
}

.ver-mas {
    width: 30px;
    height: 40px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: bottom;
}

.ver-mas a {
    width: 30px;
    height: 40px;   
     background: no-repeat url(imagenes/Home/home-chevron-icon.png);
}

/****** HOME EVENTS ******/


/***************************** HOME *****************************/

/***************************** ITINERARIO *****************************/

#itinerario{
    width: 1200px;
    height: 539px;
    background-image: url(imagenes/Itinerario/itinerario_01.jpg);
}

.intro {
    height: 100px;
    width: 750px;
    text-align: center;
    margin: auto;
    padding: 30px;
}

.intro h2 {
    margin-bottom: 10px;
}

.card-content {
    width: 960px;
    height: 500px;
}

.img-text {
    height: 477px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

.content-right {
    height: 300px;
    width: 300px;
    font-size: 20px;
    margin: 65px -130px;
}

.img-text p, #lang {
    margin: auto;
    color: white;
    width: 250px;
    height: 238px;
    font-size: 15px;
}

#augusts h3{
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.content-left {
    width: 300px;
    height: 300px;
    margin: 65px 0px;
    position: absolute;
}

.content-left p {
    color: #062048;
}

.content-left h3 {
    color: #062048;
    font-size: 23px;
    padding: 10px;
    text-align: center;
}

.img-right {
    float: right;
}

.ocre {
    background-color: #d3cbbc;
}

.ocre h3 {
    font-size: 23px;
    color: #062048;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.ocre p {
    color: #062048;
    padding: 10px;
    font-size: 15px;
}

ol {
    list-style: none;
}

.img-up {
    float: right;
}

/***************************** ITINERARIO *****************************/

/***************************** EVENTOS *****************************/
#eventos{
    width: 1200px;
    height: 547px;
    background-image: url(imagenes/Eventos/eventos_01.jpg);
}

.events-section {
    width: 960px;
    margin: auto;
}

.events-section h2 {
    padding-top: 40px;
}

.events-row {
    width: 900px;
    padding: 20px;
}

.button:hover{
    background-color: #062048; 
    color: #eef6fb;
  }

.eventos-reserva:hover{
    background-color: #eef6fb;
    color: #062048;
  }

.eventos-reserva {
    float: right;
    background-color: #062048; 
    color: #eef6fb;
    padding: 5px;
    margin: 20px;
  }

/***************************** EVENTOS *****************************/

/***************************** RESERVAS *****************************/

.book {
    height: 720px;
    width: 1200px;
}

form {
    width: 960px;
    height: 720px;
}

.form-container {
    padding: 50px;
    width: 500px;
}

.form-item {
    padding: 20px;
    margin: 0px 30px;
    display: inline-flex;
}

.form-item label {
    width: 250px;
}

#radio-button {
    width: 75px;
}

/***************************** RESERVAS *****************************/

/***************************** THANKS *****************************/

.thanks {
    width: 480px;
    text-align: center;
}

.thanks div {
    width: 1200px;
}

/***************************** THANKS *****************************/
