/***************************** GENERIC *****************************/
*{
    margin: 0px;
    padding: 0px;
    color: #062048;
    font-family: 'Open Sans', sans-serif;
}
body{
    width: 1200px;
    margin: auto;
}

em{
    font-weight: bold;
}

span {
    font-size: 40px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:hover, .selected {
    filter: hue-rotate(700deg) saturate(600%);
}

legend {
    text-align: center;
}
/***************************** GENERIC *****************************/

/***************************** HEADER *****************************/

header{
    width: 1200px;
    height: 539px;
    background-image: url(imagenes/Home/home-header.jpg);
}

.header-content{
    height: 60px;
    margin: auto;
    background-color: rgba(238, 246, 251, 0.7);
} 
  
.header-top{
    width: 960px;
    margin: auto;
}

.header-top div:first-child{
    display: inline-block;
}

h1 a{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: lighter;
}

.header-top div:last-child{
    float: right;
}

nav li{
    display: inline-block;
    padding: 7px;
    margin: 10px;
}

/***************************** HEADER *****************************/

/***************************** FOOTER *****************************/

#leipzig {
    background-image: url(imagenes/Home/home-leipzig.jpg);
    height: 46px;
    width: 202px;
    font-size: 0px;
}

.footer-row-1 {
    width: 960px;
    padding: 40px;
    margin: auto;
}

.footer-row-2 {
    text-align: center;
    background-color: #d3cbbc;
    padding: 10px;
}

.footer-col{
    display: inline-block;
    width: 230px;
    vertical-align: top;
}

footer ul {
    list-style: none;
}

.footer-col div:first-child {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.social-media li {
    display: inline-block;
    margin-top: 17px;
}

.social-media a{
    display: inline-block;
    font-size: 0px;
    width: 30px;
    height: 30px;
    vertical-align: top;
    margin-left: 20px;
    background-image: url(imagenes/Home/sprite-30px.jpg);
}

.instagram{
    background-position: 30px, 30px;
}

.twitter{
    background-position: 90px, 30px;
}

.facebook{
    background-position: 0px, 30px;
}
/***************************** FOOTER *****************************/

/***************************** HOME *****************************/

/****** HOME ABOUT ******/
.about h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.section-description{
    width: 580px;
    margin: 30px auto;
    font-size: 19px;
}

.img-web {
    display: block !important;
}

.img-mobile {
    display: none !important;
}

figure{
    width: 960px;
    margin: auto;
}

figcaption{
    margin: auto;
    background-color: #d3cbbc;
    width: 709px;
    height: 166px;
    position: relative;
    margin-top: -76px;
}

figcaption p{
    margin: auto;
    padding: 18px;
    width: 620px;
    font-size: 19px;
    font-weight: lighter;
}

figure > div {
    width: fit-content;
    margin: auto;
}

.img-col-1{
    display: inline-block;
}

.img-col-2{
    display: inline-block;
    width: 380px;
}

/****** HOME ABOUT ******/

/****** HOME WHAT TO DO ******/
.home-what-to-do h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.home-what-to-do p {
    text-align: center;
    padding-top: 20px;
}

.wtd-container {
    margin: auto;
    width: 700px;
    padding: 40px;
}

.wtd-container p {
    text-align: center;
    padding-bottom: 20px;
}

#ant {
    background: no-repeat url(imagenes/Home/home-chevron-izq.png);
    font-size: 0px;
    height: 30px;
    width: 30px;
    display: inline-block;
}

#img-container {
    display: inline-block;
    vertical-align: middle;
}

#img-container-mobile {
    display: none;
}

#sig {
    background: no-repeat url(imagenes/Home/home-chevron-icon.png);
    font-size: 0px;
    height: 30px;
    width: 30px;
    display: inline-block;
}

/****** HOME WHAT TO DO ******/


/****** HOME EVENTS ******/

.home-events {
    background-color: #dcdcdc;
    padding: 50px;
}

.home-events h2 {
    text-align: center;
    padding-bottom: 30px;
}

.home-events > div {
    width: 960px;
    margin: auto;
}

.item-event {
    margin: auto;
    text-align: center;
    height: 60px;
    padding: 20px;
}

#ballet {
    background: no-repeat url(imagenes/Home/home-ballet-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;
}

#gotic {
    background: no-repeat url(imagenes/Home/home-theater-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;
}

#rock {
    background: no-repeat url(imagenes/Home/home-hand-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;}

#jazz {
    background: no-repeat url(imagenes/Home/home-saxophone-icon.png);
    background-position-x: 122px;
    background-position-y: 20px;
}

.home-events-col {
    height: 60px;
    display: inline-block;
    margin-left: 200px;
}
.home-events-col-2 {
    height: 40px;
    display: inline-block;
    border-left: 1px solid #062048;
    vertical-align: top;
    text-align: left;
    padding: 15px;
    width: 300px;
}

.fecha{
    font-size: 50px;
    font-weight: 100;
}

.ver-mas {
    font-size: 0px;
    width: 30px;
    height: 40px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: bottom;
}

.ver-mas a {
    display: inline-block;
    width: 30px;
    height: 40px;   
     background: no-repeat url(imagenes/Home/home-chevron-icon.png);
}

/****** HOME EVENTS ******/


/***************************** HOME *****************************/

/***************************** ITINERARIO *****************************/
#itinerario{
    width: 1200px;
    height: 539px;
    background-image: url(imagenes/Itinerario/itinerario_01.jpg);
}

.nav-itinerario li{
    display: inline-block;
    /* padding: 7px; */
    margin: 10px;
}


.intro {
    height: 190px;
    width: 750px;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.card-content {
    width: 960px;
    height: 500px;
    padding-top: 30;
    margin: auto;    
}

.itinerario .row-1 {
    background-color: rgba(238, 246, 251, 0.7);
}

.img-text {
    height: 477px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

.content-right {
    height: fit-content;
    width: 300px;
    font-size: 20px;
    margin: 65px -130px;
    padding: 10px;
    background-color: #3b6c90;
}

.img-text p, #lang {
    margin: auto;
    color: white;
    width: 250px;
    height: 238px;
    font-size: 15px;
}

#lang-right {
    font-size: 15px;
    color: #062048;
}

#augusts h3{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 10px;
}

.content-left {
    width: 300px;
    height: fit-content;
    margin: 65px 0px;
    font-size: 15px;
    padding: 10px;
    background-color:#dcdcdc;
    position: absolute;
}

.content-left p {
    color: #062048;
}

.content-left h3 {
    color: #062048;
    font-size: 23px;
    padding: 10px;
    text-align: center;
}

.img-right {
    float: right;
}

.ocre {
    background-color: #d3cbbc;
}

.ocre h3 {
    font-size: 23px;
    color: #062048;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.ocre p {
    color: #062048;
    padding: 10px;
    font-size: 15px;
}

ol {
    list-style: none;
}

/***************************** ITINERARIO *****************************/

/***************************** EVENTOS *****************************/
#eventos{
    width: 1200px;
    height: 547px;
    background-image: url(imagenes/Eventos/eventos_01.jpg);
}

.events-section {
    width: 960px;
    margin: auto;
}

.events-section h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.events-row {
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.card-event {
    width: 380px;
    height: 320px;
    border-radius: 1px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px rgba(205, 204, 205, 0.5);
    display: inline-block !important;
    vertical-align: top;
}

.card-event p {
    display: none;
    width: 220px;
    height: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

.eventos-img-content {
    margin: auto;
    width: fit-content;
}

.card-event h3 {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding: 20px
}

.card-event a {
    float: right;
    padding: 20px;
}

.button, .eventos-reserva {
    background-color: #eef6fb;
    float: right;
    border-radius: 2px;
    border: none;
    margin: 10px;
    padding: 5px;
    transition-duration: 0.4s;
  }
  
  .button:hover{
    background-color: #062048; 
    color: #eef6fb;
  }

  .eventos-reserva:hover{
    background-color: #eef6fb;
    color: #062048;
  }

  .eventos-reserva {
    float: right;
    background-color: #062048; 
    color: #eef6fb;
    padding: 5px;
    margin: 20px;
  }

  article {
      margin: 100px 0px;
  }

  article h3 {
      padding: 30px;
      font-size: 20px;
      text-align: center;
  }

/***************************** EVENTOS *****************************/

/***************************** RESERVAS *****************************/

.book {
    
    height: fit-content;
    width: 1200px;
}

#reservas {
    text-align: center;
    padding-bottom: 20px;
}

form {
    width: 960px;
    height: fit-content;
    margin: auto;
}

.form-container {
    padding: 50px;
    width: 500px;
    box-shadow: 5px 5px 5px 5px rgba(205, 204, 205, 0.5);
    background-color: #eef6fb;
    margin: auto;
}

.form-item {
    padding: 20px;
    margin: 0px 30px;
    display: inline-flex;
}

.form-item label {
    display: inline-block;
    width: 250px;
}

#radio-button {
    width: 75px;
}

/***************************** RESERVAS *****************************/

